/* Clase para darle estilos al body */
.musica {
  background:#752419;
}

/* Clase para darle estilos a la barra de navegacion */
.navbar-default {
background-color: #FFA161  ;
  border-radius: 10px;
}
.navegacion li a {
  padding:15px 60px;
  color:black;
  display: block;
  text-shadow: 0 0 2px #02010a;
  list-style: none;
  text-decoration: none;
}
.navegacion li a:hover{
  background-color:white;
}

ul, ol{
  list-style: none;
}
.navegacion > li{
  float: left;
}
/* Clase para darle estilos al jumbotron */
.jumbotron{
  background: white;
  min-height: 300px;
  border-radius: 10px !important;
  margin-bottom: 0px;
}
.redes-sociales {
  margin-top: 30px;

}
.img-music {
  height: 260px;
  padding: 6px;
  margin-top: 22px;
}
.img-social {
  width: 40px;
  height: 40px;
float: right;
}
/* Clase para darle estilos a las filas y/o a columas que contienes filas */
.musica-row {
  background: white;
  min-height: 1000px;
  padding-left: 0px;
  padding-right: 0px;
border-radius: 10px;
}
textarea{
  height: 60px;
}
/* Clase para darle estilos a la columna de la izquierda y agregar borde a la derecha */
}

@media (max-width: 770px) {
  /* Clase para ocultar componentes HTML */
  .right-column {
    display: none;
  }

  .movies-row {
    min-height: 250px;
  }

  .movies-column {
    min-height: 230px;
  }

  .jumbotron {
    min-height: 500px;
  }
}
